<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!--/*@thymesVar id="commonQuestions" type="de.gematik.demis.pdfgenmodels.model.commonquestions.CommonQuestions"*/-->
<th:block th:fragment="commonQuestions(commonQuestions)">

    <th:block th:if="${commonQuestions != null}">

        <tr th:replace='~{fragment/rows :: titleRow(#{disease-notification.common-questions.header})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.common-questions.dead},
            ${commonQuestions.isDead})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.common-questions.death-date},
            ${commonQuestions.deathDate})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.common-questions.military-affiliation},
            ${commonQuestions.hasMilitaryAffiliation})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.common-questions.lab-specimen-taken},
            ${commonQuestions.wasLabSpecimenTaken})}'></tr>

        <th:block th:if="${commonQuestions.laboratory != null}">
            <tr th:replace="~{fragment/rows :: paddedTitleRow(#{disease-notification.common-questions.lab.header})}"></tr>
            <tr th:replace="~{fragment/rows :: paddedRow(
            #{disease-notification.common-questions.lab.name},
            ${commonQuestions.laboratory?.name}
        )}"></tr>
        </th:block>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{common.section.address.header},
            ${commonQuestions.laboratory?.addressDTO?.getFullAddressAsSingleLine()}
            )}'></tr>

        <tr th:replace="~{fragment/rows :: paddedRow(
            #{common.section.contact.header},
            ${commonQuestions.laboratory?.getTelecomsAsMultipleLines()})}"></tr>

        <tr th:replace='~{receipt/diseaseNotification/section/commonQuestions/hospitalization :: hospitalization(${commonQuestions})}'></tr>

        <tr th:replace='~{receipt/diseaseNotification/section/commonQuestions/infectProtectFacility :: infectProtectFacility(${commonQuestions})}'></tr>

        <tr th:replace='~{receipt/diseaseNotification/section/commonQuestions/exposurePlace :: exposurePlace(${commonQuestions})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.organ-donation},
                        ${commonQuestions.organDonation})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.note},
                        ${commonQuestions.note})}'></tr>

        <tr th:replace='~{fragment/rows :: doubleBorder}'></tr>
    </th:block>
</th:block>

</body>
</html>