<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="exposurePlace(commonQuestions)">
    <!--/*@thymesVar id="commonQuestions" type="de.gematik.demis.pdfgenmodels.model.commonquestions.CommonQuestions"*/-->

    <th:block th:with="hasExposurePlace=${commonQuestions.hasExposurePlace},
                exposurePlaces=${commonQuestions.exposurePlaces},
                exposurePlaceEntryHeader=#{disease-notification.common-questions.exposure-place.entry.header}">

        <tr th:replace="~{fragment/rows :: paddedRow(
                    #{disease-notification.common-questions.exposure-place.header},
                    ${hasExposurePlace})}"></tr>

        <th:block
                th:if="${T(de.gematik.demis.pdfgen.receipt.diseasenotification.util.TemplateUtils).isTrue(hasExposurePlace) && exposurePlaces!=null}">

            <th:block th:each="exposurePlace, iter : ${exposurePlaces}">

                <th:block th:if="${exposurePlaces.size()>1}">
                    <tr th:replace='~{fragment/rows :: paddedTitleRow(${exposurePlaceEntryHeader+" "+(iter.index+1)})}'></tr>
                </th:block>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.exposure-place.entry.region},
                        ${exposurePlace.region})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.exposure-place.entry.begin},
                        ${exposurePlace.begin})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.exposure-place.entry.end},
                        ${exposurePlace.end})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.exposure-place.entry.note},
                        ${exposurePlace.note})}"></tr>
            </th:block>
            <tr th:replace='~{fragment/rows :: doubleBorder}'></tr>
        </th:block>
    </th:block>
</th:block>

</body>
</html>