<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="hospitalization(commonQuestions)">
    <!--/*@thymesVar id="commonQuestions" type="de.gematik.demis.pdfgenmodels.model.commonquestions.CommonQuestions"*/-->

    <th:block th:with="wasHospitalized=${commonQuestions.wasHospitalized},
                hospitalizations=${commonQuestions.hospitalizations},
                hospitalizationEntryHeader=#{disease-notification.common-questions.hospitalization.entry.header}">

        <tr th:replace="~{fragment/rows :: paddedRow(
                    #{disease-notification.common-questions.hospitalized},
                    ${wasHospitalized})}"></tr>

        <th:block
                th:if="${T(de.gematik.demis.pdfgen.receipt.diseasenotification.util.TemplateUtils).isTrue(wasHospitalized) && hospitalizations!=null}">

            <th:block th:each="hospitalization, iter : ${hospitalizations}">

                <th:block th:if="${hospitalizations.size()==1}">
                    <tr th:replace='~{fragment/rows :: paddedTitleRow(${hospitalizationEntryHeader})}'></tr>
                </th:block>
                <th:block th:if="${hospitalizations.size()>1}">
                    <tr th:replace='~{fragment/rows :: paddedTitleRow(${hospitalizationEntryHeader+" "+(iter.index+1)})}'></tr>
                </th:block>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.hospitalization.type},
                        ${hospitalization.serviceType})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.hospitalization.department},
                        ${hospitalization.department})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.section.organizationDTO.description},
                        ${hospitalization.organizationDTO?.getOrganizationInfo()})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.hospitalization.begin},
                        ${hospitalization.begin.dateWithoutTime})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.hospitalization.end},
                        ${hospitalization.end.dateWithoutTime})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.common-questions.hospitalization.note},
                        ${hospitalization.note})}"></tr>
            </th:block>
            <tr th:replace='~{fragment/rows :: doubleBorder}'></tr>
        </th:block>
    </th:block>
</th:block>

</body>
</html>