<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!--/*@thymesVar id="notifier" type="de.gematik.demis.pdfgen.receipt.common.model.section.Notifier"*/-->
<!--/*@thymesVar id="facility" type="de.gematik.demis.pdfgen.receipt.common.model.subsection.Facility"*/-->
<th:block th:fragment="notifier(notifier)">

    <th:block th:if="${notifier != null}">
        <th:block th:if="${notifier.hasPerson()}">

            <tr th:replace='~{fragment/rows :: titleRow(#{common.notifier.person.header})}'></tr>

            <tr th:replace='~{fragment/rows :: paddedRow(
                        #{common.notifier.person.name},
                        ${notifier.person.nameDTO?.getFullName()})}'></tr>

            <tr th:replace='~{fragment/rows :: paddedRow(
                        #{common.notifier.person.address},
                        ${notifier.person.addressDTO?.getFullAddressAsSingleLine()})}'></tr>

            <tr th:replace='~{fragment/rows :: paddedRow(
                        #{common.notifier.person.nameDTO},
                        ${notifier.person.getTelecomsAsMultipleLines()})}'></tr>
        </th:block>

        <th:block th:if="${notifier.hasFacility()}" th:with="facility=${notifier.facility}">
            <tr th:replace='~{fragment/rows :: titleRow(#{common.notifier.facility.header})}'></tr>
            <tr th:replace='~{fragment/rows :: paddedRow(
                        #{common.notifier.facility.name},
                        ${facility.getNameAndType()})}'></tr>
            <tr th:replace='~{fragment/rows :: paddedRow(
                        #{common.notifier.facility.identifier},
                        ${facility.getIdentifier()?.getAsMultipleLines()})}'></tr>
            <tr th:replace='~{fragment/rows :: paddedRow(
                        #{common.notifier.facility.address},
                        ${facility.getAddressDTO()?.getFullAddressAsSingleLine()})}'></tr>
            <tr th:replace='~{fragment/rows :: paddedRow(
                        #{common.notifier.facility.nameDTO},
                        ${facility.getTelecomsAsMultipleLines()})}'></tr>
            <tr th:replace='~{fragment/rows :: paddedRow(
                        #{common.notifier.facility.nameDTO.person},
                        ${facility.getNameDTO()?.getFullName()})}'></tr>
        </th:block>
    </th:block>
</th:block>

</body>
</html>