<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!--/*@thymesVar id="notifiedPerson" type="de.gematik.demis.pdfgen.receipt.common.model.section.NotifiedPersonDTO"*/-->
<!--/*@thymesVar id="address" type="de.gematik.demis.pdfgen.receipt.common.model.section.AddressTemplateAdapter"*/-->
<th:block th:fragment="notifiedPerson(notifiedPerson)">

    <th:block th:if="${notifiedPerson != null}">

        <tr th:replace='~{fragment/rows :: titleRow(#{common.notified.person.header})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{common.notified.person.name},
            ${notifiedPerson.nameDTO?.getFullName()})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{common.notified.person.gender},
            ${notifiedPerson.gender})}'></tr>

        <th:block th:if="${notifiedPerson.birthdate!=null}">
            <tr th:replace='~{fragment/rows :: paddedRow(
            #{common.notified.person.birthdate},
            ${notifiedPerson.birthdate})}'></tr>
        </th:block>

        <th:block th:each="address : ${notifiedPerson.getAddresses()}">
            <th:block th:with="addressPrefix=${address.isFromOrganization()} ? #{common.notified.person.organizationDTO.address} : #{common.notified.person.address}">
                <tr th:replace='~{fragment/rows :: paddedRow(
                    ${address.getAddressUseWithPrefix(addressPrefix)},
                    ${address.getTemplateString()})}'></tr>
            </th:block>
        </th:block>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{common.notified.person.nameDTO},
            ${notifiedPerson.getTelecomsAsMultipleLines()})}'></tr>
    </th:block>
</th:block>

</body>
</html>
