<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!--/*@thymesVar id="recipient" type="de.gematik.demis.pdfgen.receipt.common.model.section.Recipient"*/-->
<!--/*@thymesVar id="organization" type="de.gematik.demis.pdfgen.receipt.common.model.subsection.OrganizationDTO"*/-->
<th:block th:fragment="recipient(recipient)">

    <th:block th:if="${recipient != null}" th:with="organization=${recipient.getOrganizationDTO()}">
        <tr th:replace='~{fragment/rows :: titleRow(#{common.recipient.header})}'></tr>
        <tr th:replace='~{fragment/rows :: paddedRow(
            #{common.section.facility.name},
            ${organization?.getNameAndType()})}'></tr>
        <tr th:replace='~{fragment/rows :: paddedRow(
            #{common.section.address.header},
            ${organization?.addressDTO?.getOrganizationAddressAsSingleLine()})}'></tr>
        <tr th:replace="~{fragment/rows :: paddedRow(
            #{common.section.contact.header},
            ${organization?.getTelecomsAsMultipleLines()})}"></tr>
    </th:block>

</th:block>

</body>
</html>