<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{~/styles/main.css}"/>
    <th:block th:if="${diseaseNotificationTemplateDto.watermarkBase64Image != null}">
        <style th:inline="text">
            body {
                background: none;
            }
            @page {
                background-image: url('data:image/png;base64,[[${diseaseNotificationTemplateDto.watermarkBase64Image}]]');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        </style>
    </th:block>
    <title th:text="#{disease-notification.title}"></title>
</head>
<body>

<!--Title-->
<span th:replace='~{receipt/common/section/header :: header(#{disease-notification.title})}'/>

<div style="padding-left: 0.72cm; padding-right: 0.72cm;">

    <!--Text-->
    <p style="margin-top: 0px; margin-bottom: 4px;" th:text="#{common.header.text}"></p>
    <p style="margin-top: 0px; margin-bottom: 8px;">
        Weiterführende Informationen zur Meldung gemäß §6 IfSG finden Sie in der <a href="https://go.gematik.de/demis-info-disease">DEMIS-Wissensdatenbank</a>
    </p>

    <table>
        <!--/*@thymesVar id="diseaseNotificationTemplateDto" type="de.gematik.demis.pdfgen.receipt.diseasenotification.model.DiseaseNotificationTemplateDto"*/-->

        <th:block th:replace='~{receipt/common/section/metadata :: metadata(${diseaseNotificationTemplateDto.metadata})}'/>

        <th:block
                th:replace='~{receipt/common/section/notification :: notification(${diseaseNotificationTemplateDto.notification})}'/>

        <th:block
                th:replace='~{receipt/common/section/recipient :: recipient(${diseaseNotificationTemplateDto.recipient})}'/>

        <th:block th:replace='~{receipt/common/section/notifier :: notifier(${diseaseNotificationTemplateDto.notifier})}'/>

        <th:block
                th:replace='~{receipt/common/section/notifiedPerson :: notifiedPerson(${diseaseNotificationTemplateDto.notifiedPersonDTO})}'/>

        <th:block
                th:replace='~{receipt/diseaseNotification/section/condition :: conditionDTO(${diseaseNotificationTemplateDto.conditionDTO})}'/>

        <th:block
                th:replace='~{receipt/diseaseNotification/section/questionnaire/questionnaire :: questionnaire(${diseaseNotificationTemplateDto.commonQuestionnaire})}'/>

        <th:block
                th:replace='~{receipt/diseaseNotification/section/questionnaire/questionnaire :: questionnaire(${diseaseNotificationTemplateDto.specificQuestionnaire})}'/>

        <th:block
                th:replace='~{receipt/common/section/authentication :: authentication(${diseaseNotificationTemplateDto.authentication})}'/>

    </table>
</div>

</body>
</html>