<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="covid19Questions(covid19Questions)">
    <!--/*@thymesVar id="covid19Questions" type="de.gematik.demis.pdfgenmodels.model.covid19questions.Covid19Questions"*/-->

    <th:block th:if="${covid19Questions != null && covid19Questions.hasInfectionSource()}">

        <tr th:replace='~{fragment/rows :: titleRow(#{disease-notification.covid19-questions.header})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.covid19-questions.infection.source},
            ${covid19Questions.infectionSource})}'></tr>

        <tr th:replace='~{receipt/diseaseNotification/section/covid19Questions/infectionEnvironmentSetting :: infectionEnvironmentSetting(${covid19Questions})}'></tr>

        <tr th:replace='~{receipt/diseaseNotification/section/covid19Questions/immunization :: immunization(${covid19Questions})}'></tr>

    </th:block>
</th:block>

</body>
</html>