<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="infectionEnvironmentSetting(covid19Questions)">
    <!--/*@thymesVar id="covid19Questions" type="de.gematik.demis.pdfgenmodels.model.covid19questions.Covid19Questions"*/-->

    <th:block th:with="hasInfectionEnvironmentSetting=${covid19Questions.hasInfectionEnvironmentSetting},
                infectionEnvironmentSettings=${covid19Questions.infectionEnvironmentSettings}">

        <tr th:replace="~{fragment/rows :: paddedRow(
                    #{disease-notification.covid19-questions.infection.environment},
                    ${hasInfectionEnvironmentSetting})}"></tr>

        <th:block
                th:if="${T(de.gematik.demis.pdfgen.receipt.diseasenotification.util.TemplateUtils).isTrue(hasInfectionEnvironmentSetting) && infectionEnvironmentSettings!=null}">

            <th:block th:each="infectionEnvironmentSetting, iter : ${infectionEnvironmentSettings}">

                <th:block th:if="${infectionEnvironmentSettings.size()>1}"
                          th:with="headerPrefix=#{disease-notification.covid19-questions.infection.environment.entry.header}">
                    <tr th:replace='~{fragment/rows :: paddedTitleRow(value=${headerPrefix+" "+(iter.index+1)})}'></tr>
                </th:block>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.covid19-questions.infection.environment.entry.type},
                        ${infectionEnvironmentSetting.kind})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.covid19-questions.infection.environment.entry.begin},
                        ${infectionEnvironmentSetting.begin})}"></tr>

                <tr th:replace="~{fragment/rows :: paddedRow(
                        #{disease-notification.covid19-questions.infection.environment.entry.end},
                        ${infectionEnvironmentSetting.end})}"></tr>

            </th:block>
            <tr th:replace='~{fragment/rows :: doubleBorder}'></tr>
        </th:block>
    </th:block>
</th:block>

</body>
</html>