<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


<!--/*@thymesVar id="conditionDTO" type="de.gematik.demis.pdfgen.receipt.diseasenotification.model.condition.ConditionDTO"*/-->
<th:block th:fragment="conditionDTO(conditionDTO)">

    <th:block th:if="${conditionDTO != null}">
        <tr th:replace='~{fragment/rows :: titleRow(#{disease-notification.conditionDTO.header})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.conditionDTO.verification-status},
            ${conditionDTO.verificationStatus})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.conditionDTO.clinical-status},
            ${conditionDTO.clinicalStatus})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedStrongValueRow(
            #{laboratory-report.lab-report.notification-reason},
            ${conditionDTO.disease})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.conditionDTO.onset-date},
            ${conditionDTO.onsetDate.dateWithoutTime})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.conditionDTO.recorded-date},
            ${conditionDTO.recordedDate.dateWithoutTime})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.conditionDTO.evidence},
            ${conditionDTO.getAllSymptoms()})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{disease-notification.conditionDTO.note},
            ${conditionDTO.note})}'></tr>

        <tr th:replace='~{fragment/rows :: doubleBorder}'></tr>
    </th:block>
</th:block>

</body>
</html>