<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{classpath:/static/styles/main.css}"/>
    <title th:text="#{bed-occupancy.title}+' - '+${bedOccupancy.organization.name}"></title>
</head>
<body>

<!--Title-->
<span th:replace='~{receipt/common/section/header :: header(#{bed-occupancy.title})}'></span>

<div class="table-padding">

    <table>

        <th:block th:replace='~{receipt/common/section/metadata :: metadata(${bedOccupancy.metadata})}'/>

        <tr th:replace='~{fragment/rows :: entryRow(
                    #{common.notification.identifier},
                    ${bedOccupancy.notificationId})}'></tr>

        <tr th:replace='~{fragment/rows :: titleRow(#{bed-occupancy.organization.header})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{bed-occupancy.organization.name},
            ${bedOccupancy.organization.name})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{bed-occupancy.organization.identifier},
            ${bedOccupancy.organization.id})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{bed-occupancy.organization.address},
            ${bedOccupancy.organization.address.getFullAddressAsSingleLine()})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
                        #{bed-occupancy.organization.telecom},
                        ${bedOccupancy.organization.getTelecomsAsMultipleLines()})}'></tr>

        <tr th:replace='~{fragment/rows :: titleRow(#{bed-occupancy.beds.occupied.header})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{bed-occupancy.beds.occupied.adult},
            ${bedOccupancy.numberOccupiedBedsGeneralWardAdults})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{bed-occupancy.beds.occupied.children},
            ${bedOccupancy.numberOccupiedBedsGeneralWardChildren})}'></tr>

        <th:block th:if="${bedOccupancy.hasOperableData()}">
            <tr th:replace='~{fragment/rows :: titleRow(#{bed-occupancy.beds.operable.header})}'></tr>

            <tr th:replace='~{fragment/rows :: paddedRow(
                #{bed-occupancy.beds.operable.adult},
                ${bedOccupancy.numberOperableBedsGeneralWardAdults})}'></tr>

            <tr th:replace='~{fragment/rows :: paddedRow(
                #{bed-occupancy.beds.operable.children},
                ${bedOccupancy.numberOperableBedsGeneralWardChildren})}'></tr>

        </th:block>

    </table>
</div>

</body>
</html>