<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{~/styles/main.css}"/>
    <th:block th:if="${bedOccupancy.watermarkBase64Image != null}">
        <style th:inline="text">
            body {
                background: none;
            }
            @page {
                background-image: url('data:image/png;base64,[[${bedOccupancy.watermarkBase64Image}]]');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        </style>
    </th:block>
    <title th:text="#{bed-occupancy.title}+' - '+${bedOccupancy.organization.name}"></title>
</head>
<body>

<!--Title-->
<span th:replace='~{receipt/common/section/header :: header(#{bed-occupancy.title})}'></span>

<!--/*@thymesVar id="bedOccupancy" type="de.gematik.demis.pdfgen.receipt.bedoccupancy.model.BedOccupancy"*/-->
<!--/*@thymesVar id="organization" type="de.gematik.demis.pdfgen.receipt.common.model.subsection.OrganizationDTO"*/-->
<div class="table-padding">

    <table>

        <th:block th:replace='~{receipt/common/section/metadata :: metadata(${bedOccupancy.metadata})}'/>

        <tr th:replace='~{fragment/rows :: entryRow(
                    #{common.notification.identifier},
                    ${bedOccupancy.notificationId})}'></tr>

        <th:block th:with="organization=${bedOccupancy.getOrganization()}">
            <tr th:replace='~{fragment/rows :: titleRow(#{bed-occupancy.organization.header})}'></tr>
            <tr th:replace='~{fragment/rows :: paddedRow(
                #{bed-occupancy.organization.name},
                ${organization.getNameAndType()})}'></tr>
            <tr th:replace='~{fragment/rows :: paddedRow(
                #{bed-occupancy.organization.identifier},
                ${organization.getId()})}'></tr>
            <tr th:replace='~{fragment/rows :: paddedRow(
                #{bed-occupancy.organization.address},
                ${organization.getAddressDTO().getOrganizationAddressAsSingleLine()})}'></tr>
            <tr th:replace='~{fragment/rows :: paddedRow(
                #{bed-occupancy.organization.telecom},
                ${organization.getTelecomsAsMultipleLines()})}'></tr>
        </th:block>

        <tr th:replace='~{fragment/rows :: titleRow(#{bed-occupancy.beds.occupied.header})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{bed-occupancy.beds.occupied.adult},
            ${bedOccupancy.numberOccupiedBedsGeneralWardAdults})}'></tr>

        <tr th:replace='~{fragment/rows :: paddedRow(
            #{bed-occupancy.beds.occupied.children},
            ${bedOccupancy.numberOccupiedBedsGeneralWardChildren})}'></tr>

        <th:block th:if="${bedOccupancy.hasOperableData()}">
            <tr th:replace='~{fragment/rows :: titleRow(#{bed-occupancy.beds.operable.header})}'></tr>

            <tr th:replace='~{fragment/rows :: paddedRow(
                #{bed-occupancy.beds.operable.adult},
                ${bedOccupancy.numberOperableBedsGeneralWardAdults})}'></tr>

            <tr th:replace='~{fragment/rows :: paddedRow(
                #{bed-occupancy.beds.operable.children},
                ${bedOccupancy.numberOperableBedsGeneralWardChildren})}'></tr>

        </th:block>

        <th:block
                th:replace='~{receipt/common/section/authentication :: authentication(${bedOccupancy.authentication})}'/>

    </table>
</div>

</body>
</html>